.customStyle1 {
  width: 60px;
  height: 60px;
  margin: 5px;
  float: left;
}

.customStyle2 {
  margin: 5px;
  font-size: 14px;
}

.customStyle3 {
  position: absolute;
  width: 60px;
  height: 60px;
  float: left;
}

.first {
  background-color: #3f3;
  position: relative;
  left: 0em;
}

.second {
  background-color: #33f;
  position: relative;
  left: 5em;
}

.customStyle4 {
  color: red;
  cursor: pointer;
  font-weight: bolder;
}

.customStyle5 {
  cursor: default;
}

.customStyle6 {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
  display: none;
  background-color: #090;
}

.customStyle7 {
  display: block;
  margin: 3px;
  color: red;
  width: 200px;
}

.customStyle8 {
  color: red;
  border: 2px solid blue;
  width: 200px;
  margin: 3px;
  text-align: center;
}

.customStyle9 {
  color: red;
  display: none;
}
